<h1>Payment Results </h1>

<h5>APR</h5>
  <%= @user_num %>
<h5>Number of years</h5>
  <%= @user_num**2 %>
  <h5>Principal</h5>
    <%= @user_num %>
  <h5>Payment</h5>
    <%= @user_num**2 %>
<div>
  <a href="http://localhost:3000/payment/new">
        Calculate another payment
  </a>
</div>
