<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
<label for = "APR"> APR </label>
<input tpye="text" name="user_apr" id="APR">
</div>
<div>
<label for= "Number of years"> Number of years
</label>
<input tpye="text" name="user_years" id="Number of years">
</div>
<div>
<label for = "Principal"> Principal
</label>
<input tpye="text" name="user_pv" id="Principal">
</div>
<button>Calculate monthly payment
</button>
</form>
