<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
<label for = "Minimum"> Minimum </label>
<input tpye="text" name="user_min" id="Minimum">
</div>
<div>
<label for= "Maximum"> Maximum
</label>
<input tpye="text" name="user_max" id="Maximum">
</div>
<button tpye="submit"> Pick random number
</button>
</form>
