<h1>Random Results </h1>

<h5>Minimum</h5>
  <%= @number %>
<h5>Maximum</h5>
  <%= @number2 %>
  <h5>Random Number</h5>
    <%= @random_number %>

<div>
  <a href="http://localhost:3000/random/new/">
        Pick another random number
  </a>
</div>
