<h1>Square Root Results </h1>

<h5>Number</h5>
  <%= @user_num %>
<h5>Square Root</h5>
  <%= @user_num**0.5 %>

<div>
  <a href="http://localhost:3000/square_root/new">
        Calculate another square root
  </a>
</div>
