<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
<label for = "Enter a number"> Enter a number </label>
<input tpye="text" name="user_number" id="Enter a number">
</div>
<button>Calculate square
</button>
</form>
